.overlay-loading {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(200, 200, 200, 0.2);
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
